{% extends 'shared/base_layout.html' %}
{% block title %}Signin Page{% endblock %}
{% block content %}
    <div class="container">
        <h2> تبریک به سایت ما خوش آمدید.</h2>
        <p>حساب شما با موفقیت تایید شده است.</p>
        <div class="buttons">
            <a href="{% url 'profile_page' %}" class="button" style="color: #0056b3;">رفتن به پروفایل</a>
            <hr>
            <a href="{% url 'home_page' %}" class="button" style="color:#007bff;">رفتن به صفحه اصلی</a>
        </div>
    </div>
{% endblock %}
