{% extends 'shared/base_layout.html' %}
{% block title %}ایجاد یادداشت{% endblock %}
{% block content %}
    <div class="container">

        <form action="{% url 'create_note' %}" method="post">
            {% csrf_token %}
            {{ form.title.label_tag }}
            {{ form.title }}
            {{ form.title.errors }}
            {{ form.text.label_tag }}
            {{ form.text }}
            {{ form.text.errors }}
            {{ form.category.label_tag }}
            {{ form.category }}
            {{ form.category.errors }}

            <button type="submit">ذخیره یادداشت</button>
        </form>
    </div>
{% endblock %}
